body, html{
    height: 100%;
    width: 100%;
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header, #apresentacao, #funcionalidades, #prototipos, #fomulario{
    width: 100vw;
    height: 100vh;
}

.titulo{
    position: absolute;
    display: table;
    margin: 0 auto;
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

#apresentacao{
    flex-direction: row;
    height: fit-content;
}

h1,h2,h3{
    display: block;
    text-align: center;
    margin: 3rem;
    font-size: 40px;
}
p{
    display: block;
    text-align: center;
    margin: 5rem;
    font-size: 30px;
}

.intro.txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 222, 179, 0);
}
#apresentacao img{
    /* border-radius: 50%; */
    z-index: -10;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.parallax   {
    background-image: url("../img/logo.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;}

#um{
    height: 100%;
}
#dois{
    height: 15rem;
}
#tres{
    height: 15rem;
}
#quatro{
    height: 20rem;
}

.first-lines{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1.5rem;
    height: fit-content;
    text-align: center;
    place-items: center;
}

.first-lines li{
    list-style: none;
    gap: 4rem;
    background-color: rgb(102, 102, 102);
    color: rgb(21, 21, 29);
    padding: 2rem;
    height: 13rem;
    width: 26rem;
    opacity: 0.95;
    transition: ease, 0.1s;
    font-size: 20px;
    border-radius: 25px;
}
 
.first-lines  img{
    /* display: contents; */
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 25px;
 }
 
 .first-lines li {
    position: relative; /* Adiciona posicionamento relativo para que a imagem fique relativa a este elemento */
}

.first-lines li img {
    position: absolute; /* Define a posição absoluta para que a imagem possa ser posicionada dentro do elemento pai */
    top: 0; /* Alinha a imagem ao topo do elemento pai */
    left: 50%; /* Move a imagem para a metade da largura do elemento pai */
    transform: translateX(-50%); /* Ajusta a posição horizontal da imagem para que fique centralizada */
}

 
.first-lines li .texto{
    position: absolute;
    margin-top: -20px;
    top: 0;
    opacity: 0;
    transition: opacity 500ms; 
 }
 
 .texto{
    height: 100%;
 }
 .first-lines li:hover .texto{
    opacity: 1;
    color: rgb(240, 240, 240);
    
 }

li:hover{
    opacity: 1;
    box-shadow: #111 10px 10px;
}
li>h2{
    color: rgb(240, 240, 240);
    font-size:  25px;
    margin: 0;
    margin-bottom: 2rem;
}

#funcionalidades{
    height: fit-content;
    margin-bottom: 4rem;
}

#form h1, #form h2{
    grid-template-columns: repeat(2,1fr);
    
}

#form h1{
    margin-bottom: 1rem;
}
#form h2{
    font-size: 20px;
    margin-top: 0;
}


#form{
    gap: 2rem;
}

#form input{
    display: grid;
    max-width: 500px;
    margin: 0 auto;
    border: none;
    color: black;
    opacity: 0.6;
    transition: opacity .5s ease-in-out;
    outline: 0px;
    border-bottom: 5px solid rgb(147, 90, 70);
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    gap: 2rem;
    font-size: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#form input:focus{
    opacity: 1;
}

#form button{
    width: 200px;
    margin: 0 auto;
    background-color: rgb(147, 90, 70);
    border: none;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    transition: ease, 0.5s;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#form button:hover{
    box-shadow: #111 5px 5px ;
}

#form-inputs{
    display: grid;
    gap: 2rem;
}

